@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0px;
	padding: 0px;
	font-weight: 400;
}

a {
	cursor: pointer;
}

.navbar {
	/* background-color: grey; */
	min-height: 50px;
	font-size: 18px;
	font-weight: 300;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

.navbar-brand {
	font-weight: 400;
	color: rgb(170, 79, 79);
}

.search input {
	width: calc(100%-200px);
	height: 44px;
	border-radius: 22px;
	text-align: center;
}

.search button {
	border-radius: 22px;
	background-color: rgb(93, 192, 93);
	border-color: rgb(93, 192, 93);
}

.container_daftar_buku {
	/* height: 100px; */
	width: 95%;
	max-width: 1100px;
	margin: auto;
}

.container {
	margin-top: 100px;
}

.buku_view {
	margin-right: 20px;
}

.img_buku {
	width: 100%;
	max-width: 200px;
	/* height: 250px; */
	border-radius: 5px;
}

.pengarang {
	font-size: 14px;
	margin-bottom: 5px;
}
